#tree-container{
    margin-left: 10%;
    width: 80%;
    border: 1px solid;
    height: 90vh;
    padding: 20px 50px;
    background-color: rgb(151, 187, 241);
}
.heading {
    font-size: 25px;
    font-weight: bold;
    margin-right: 5px;
}
.add-btn, .edit-btn, .delete-btn{
    width: 75px;
    height: 28px;
    border: 0;
    border-radius: 20px;
    padding-top: 4px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 5px;
}
.add-btn{
    background-color: rgb(52, 151, 52);
}
.edit-btn{
    background-color: rgb(142, 168, 142);
}
.delete-btn{
    background-color: rgb(182, 74, 74);
}
.input-field{
    width: 170px;
    height: 30px;
    margin-left: 5px;
    border-radius: 10px;
    outline: none;
}
.save-btn{
    height: 35px;
    border-radius: 10px;
    width: 60px;
    background-color: rgb(199, 247, 127);
    border: 0;
    cursor: pointer;
    margin-right: 5px;
}
.data-name{
    font-size: 18px;
    margin-right: 5px;
    display: inline-block;
    width: 70px;
}
.subtree-container{
    margin: 10px
}